body {
  background-color: #161616;
}

li[data-sonner-toast][data-type='success'] svg {
  color: #10b981;
}

li[data-sonner-toast][data-type='warning'] svg {
  color: #f59e0b;
}

li[data-sonner-toast][data-type='error'] svg {
  color: #ef4444;
}

.layout-responsive {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
/* delete after José fix Spline animation */
canvas {
  width: 300px !important;
  margin-top: -5rem;
  margin-right: -2rem;
}

.award-container {
  min-height: 450px;
  
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 4rem;
  
  @media (width <= 800px) {
    flex-direction: column;
    align-items: center;
  }
}

.box:nth-child(2) {
  align-self: center;
}